# Import

In [100]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import plotly.express as px
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [101]:
file_list = ['item_categories','items','sales_train','shops','test']

In [102]:
for file in file_list:
    globals()[f'{file}']= pd.read_csv(f'{file}.csv')

In [103]:
sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [104]:
def conc(item_id,shop_id):
    return (item_id,shop_id)

In [105]:
conc(4,344)

(4, 344)

In [106]:
sales_train['ID']= sales_train.apply(lambda x: conc(x.item_id,x.shop_id),axis=1)

In [107]:
X= sales_train.groupby('ID').sum().reset_index()

In [108]:
X

,ID,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,"(0, 54)",20,54,0,58.0,1.0
1,"(1, 55)",108,330,6,26940.0,6.0
2,"(2, 54)",41,108,4,116.0,2.0
3,"(3, 54)",37,108,6,158.0,2.0
4,"(4, 54)",20,54,4,58.0,1.0
...,...,...,...,...,...,...
424119,"(22168, 12)",8,24,44336,1598.0,2.0
424120,"(22168, 16)",1,16,22168,799.0,1.0
424121,"(22168, 42)",1,42,22168,799.0,1.0
424122,"(22168, 43)",2,43,22168,798.5,1.0
424123,"(22169, 25)",14,25,22169,4349.0,1.0

In [109]:
X['sales_p_month'] = X.item_cnt_day/34

In [110]:
X.drop(columns=['date_block_num','item_cnt_day'],inplace=True)

In [111]:
items

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

In [112]:
X = X.merge(items,on='item_id')
X = X.merge(shops,on='shop_id')

In [113]:
X= X.merge(item_categories,on='item_category_id')

In [114]:
X

,ID,shop_id,item_id,item_price,sales_p_month,item_name,item_category_id,shop_name,item_category_name
0,"(0, 54)",54,0,58.0,0.029412,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,40,"Химки ТЦ ""Мега""",Кино - DVD
1,"(6, 54)",54,6,100.0,0.029412,***УДАР ПО ВОРОТАМ (UNI) D,40,"Химки ТЦ ""Мега""",Кино - DVD
2,"(4, 54)",54,4,58.0,0.029412,***КОРОБКА (СТЕКЛО) D,40,"Химки ТЦ ""Мега""",Кино - DVD
3,"(5, 54)",54,5,28.0,0.029412,***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ (UNI) ...,40,"Химки ТЦ ""Мега""",Кино - DVD
4,"(7, 54)",54,7,28.0,0.029412,***УДАР ПО ВОРОТАМ-2 (UNI) D,40,"Химки ТЦ ""Мега""",Кино - DVD
...,...,...,...,...,...,...,...,...,...
151909,"(4729, 55)",55,4729,749.0,0.029412,"Mafia II: Director’s Cut [MAC, Цифровая версия]",27,Цифровой склад 1С-Онлайн,Игры MAC - Цифра
151910,"(7079, 55)",55,7079,629.0,0.029412,"Tomb Raider: Underworld [MAC, Цифровая версия]",27,Цифровой склад 1С-Онлайн,Игры MAC - Цифра
151911,"(7921, 55)",55,7921,499.0,0.029412,"XCOM: Enemy Within. Дополнение [MAC, Цифровая ...",27,Цифровой склад 1С-Онлайн,Игры MAC - Цифра
151912,"(17717, 8)",8,17717,499.0,0.029412,Прием денежных средств для 1С-Онлайн,79,"Воронеж ТРЦ Сити-Парк ""Град""",Служебные
151913,"(17717, 36)",36,17717,299.0,0.029412,Прием денежных средств для 1С-Онлайн,79,"Новосибирск ТРЦ ""Галерея Новосибирск""",Служебные

# Exploring Dataset

In [115]:
X.item_category_name.nunique()

84

In [116]:
X.shop_name.nunique()

60

In [117]:
X.sales_p_month.value_counts()

 0.029412    128845
 0.058824     15578
 0.088235      3931
 0.117647      1395
 0.147059       704
 0.176471       399
 0.205882       294
 0.235294       168
 0.264706       120
 0.294118       100
 0.000000        75
 0.323529        63
 0.352941        34
 0.382353        29
-0.029412        25
 0.411765        23
 0.441176        23
 0.470588        14
 0.500000        10
 0.588235        10
 0.529412         8
 0.617647         7
 0.911765         5
 0.647059         5
 0.558824         4
 0.852941         4
 1.029412         4
 0.676471         4
 0.882353         3
 0.823529         3
 0.735294         3
 0.764706         3
 0.970588         2
 1.352941         2
 0.794118         2
-0.205882         1
 2.558824         1
 0.941176         1
 1.000000         1
 1.882353         1
 1.323529         1
 4.441176         1
 5.705882         1
 0.705882         1
 1.441176         1
 2.441176         1
 1.117647         1
 1.058824         1
 1.264706         1
 1.852941         1
Name: sales_p_month, dtype: int64

In [118]:
X.keys()

Index(['ID', 'shop_id', 'item_id', 'item_price', 'sales_p_month', 'item_name',
       'item_category_id', 'shop_name', 'item_category_name'],
      dtype='object')

In [119]:


X.drop(columns=[
       'item_category_id', ],inplace=True)

In [120]:
X

,ID,shop_id,item_id,item_price,sales_p_month,item_name,shop_name,item_category_name
0,"(0, 54)",54,0,58.0,0.029412,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,"Химки ТЦ ""Мега""",Кино - DVD
1,"(6, 54)",54,6,100.0,0.029412,***УДАР ПО ВОРОТАМ (UNI) D,"Химки ТЦ ""Мега""",Кино - DVD
2,"(4, 54)",54,4,58.0,0.029412,***КОРОБКА (СТЕКЛО) D,"Химки ТЦ ""Мега""",Кино - DVD
3,"(5, 54)",54,5,28.0,0.029412,***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ (UNI) ...,"Химки ТЦ ""Мега""",Кино - DVD
4,"(7, 54)",54,7,28.0,0.029412,***УДАР ПО ВОРОТАМ-2 (UNI) D,"Химки ТЦ ""Мега""",Кино - DVD
...,...,...,...,...,...,...,...,...
151909,"(4729, 55)",55,4729,749.0,0.029412,"Mafia II: Director’s Cut [MAC, Цифровая версия]",Цифровой склад 1С-Онлайн,Игры MAC - Цифра
151910,"(7079, 55)",55,7079,629.0,0.029412,"Tomb Raider: Underworld [MAC, Цифровая версия]",Цифровой склад 1С-Онлайн,Игры MAC - Цифра
151911,"(7921, 55)",55,7921,499.0,0.029412,"XCOM: Enemy Within. Дополнение [MAC, Цифровая ...",Цифровой склад 1С-Онлайн,Игры MAC - Цифра
151912,"(17717, 8)",8,17717,499.0,0.029412,Прием денежных средств для 1С-Онлайн,"Воронеж ТРЦ Сити-Парк ""Град""",Служебные
151913,"(17717, 36)",36,17717,299.0,0.029412,Прием денежных средств для 1С-Онлайн,"Новосибирск ТРЦ ""Галерея Новосибирск""",Служебные

In [121]:
x=X.drop(columns='sales_p_month')
y=X.sales_p_month

In [122]:
shopname = pd.get_dummies(x['shop_name'],drop_first=True)

x = pd.concat([x.drop('shop_name',axis=1),shopname],axis=1)
x

,ID,shop_id,item_id,item_price,item_name,item_category_name,"!Якутск ТЦ ""Центральный"" фран","Адыгея ТЦ ""Мега""","Балашиха ТРК ""Октябрь-Киномир""","Волжский ТЦ ""Волга Молл""",...,"Тюмень ТЦ ""Гудвин""","Тюмень ТЦ ""Зеленый Берег""","Уфа ТК ""Центральный""","Уфа ТЦ ""Семья"" 2","Химки ТЦ ""Мега""",Цифровой склад 1С-Онлайн,"Чехов ТРЦ ""Карнавал""","Якутск Орджоникидзе, 56","Якутск ТЦ ""Центральный""","Ярославль ТЦ ""Альтаир"""
0,"(0, 54)",54,0,58.0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,Кино - DVD,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,"(6, 54)",54,6,100.0,***УДАР ПО ВОРОТАМ (UNI) D,Кино - DVD,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,"(4, 54)",54,4,58.0,***КОРОБКА (СТЕКЛО) D,Кино - DVD,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,"(5, 54)",54,5,28.0,***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ (UNI) ...,Кино - DVD,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,"(7, 54)",54,7,28.0,***УДАР ПО ВОРОТАМ-2 (UNI) D,Кино - DVD,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151909,"(4729, 55)",55,4729,749.0,"Mafia II: Director’s Cut [MAC, Цифровая версия]",Игры MAC - Цифра,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
151910,"(7079, 55)",55,7079,629.0,"Tomb Raider: Underworld [MAC, Цифровая версия]",Игры MAC - Цифра,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
151911,"(7921, 55)",55,7921,499.0,"XCOM: Enemy Within. Дополнение [MAC, Цифровая ...",Игры MAC - Цифра,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
151912,"(17717, 8)",8,17717,499.0,Прием денежных средств для 1С-Онлайн,Служебные,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151913,"(17717, 36)",36,17717,299.0,Прием денежных средств для 1С-Онлайн,Служебные,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
categ = pd.get_dummies(x['item_category_name'],drop_first=True)

x = pd.concat([x.drop('item_category_name',axis=1),categ],axis=1)
x

,ID,shop_id,item_id,item_price,item_name,"!Якутск ТЦ ""Центральный"" фран","Адыгея ТЦ ""Мега""","Балашиха ТРК ""Октябрь-Киномир""","Волжский ТЦ ""Волга Молл""","Вологда ТРЦ ""Мармелад""",...,Программы - MAC (Цифра),Программы - Для дома и офиса,Программы - Для дома и офиса (Цифра),Программы - Обучающие,Программы - Обучающие (Цифра),Служебные,Служебные - Билеты,Чистые носители (шпиль),Чистые носители (штучные),Элементы питания
0,"(0, 54)",54,0,58.0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"(6, 54)",54,6,100.0,***УДАР ПО ВОРОТАМ (UNI) D,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"(4, 54)",54,4,58.0,***КОРОБКА (СТЕКЛО) D,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"(5, 54)",54,5,28.0,***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ (UNI) ...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"(7, 54)",54,7,28.0,***УДАР ПО ВОРОТАМ-2 (UNI) D,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151909,"(4729, 55)",55,4729,749.0,"Mafia II: Director’s Cut [MAC, Цифровая версия]",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151910,"(7079, 55)",55,7079,629.0,"Tomb Raider: Underworld [MAC, Цифровая версия]",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151911,"(7921, 55)",55,7921,499.0,"XCOM: Enemy Within. Дополнение [MAC, Цифровая ...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151912,"(17717, 8)",8,17717,499.0,Прием денежных средств для 1С-Онлайн,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
151913,"(17717, 36)",36,17717,299.0,Прием денежных средств для 1С-Онлайн,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [124]:
x.drop(columns='ID',inplace=True)

In [125]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=0,test_size=0.2)

In [140]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

numscale = make_column_transformer((MinMaxScaler(),['item_price']))

# Modeling

In [141]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [142]:
model = Sequential()



# input layer
model.add(Dense(145,  activation='relu'))
model.add(Dropout(0.2))

# hidden layer
model.add(Dense(39, activation='relu'))
model.add(Dropout(0.2))

# hidden layer
model.add(Dense(19, activation='relu'))
model.add(Dropout(0.2))

# output layer
model.add(Dense(units=1,activation='sigmoid'))

# Compile model
model.compile(loss='mse', 
              optimizer='adam', 
              metrics=['mae'])

In [143]:
from tensorflow.keras.callbacks import EarlyStopping

es = EarlyStopping(
    monitor='val_loss',
    min_delta=0,
    patience=4,
    verbose=0,
    mode='auto',
    baseline=None,
    restore_best_weights=True
)

In [144]:
pipe = make_pipeline(numscale,model)

In [145]:
pipe.fit(X_train,y_train)

2022-09-27 23:15:02.550715: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:176] None of the MLIR Optimization Passes are enabled (registered 2)

3798/3798 [==============================] - 3s 661us/step - loss: 0.0038 - mae: 0.0262

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('minmaxscaler',
                                                  MinMaxScaler(),
                                                  ['item_price'])])),
                ('sequential',
                 <tensorflow.python.keras.engine.sequential.Sequential object at 0x1e3c06f40>)])

In [146]:
y_pred = pipe.predict(X_test)

In [147]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,y_pred)

0.001094448594765706